/* =============================================================================================== Start table css ===== */

.ant-table-wrapper {
  background-color: white;
  box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
  border-radius: 10px;
  overflow-x: auto;
}

.ant-table-tbody .ant-table-cell {
  padding: 15px !important;
  font-size: 16px !important;
}

.customer-manage-table .ant-table {
  color: #67748e;
}
/* ======================================== Start table row css ===== */
.customer-manage-table .ant-table-tbody .ant-table-row {
  border-bottom: 1px solid #ebf1ff !important;
  transition: all 0.5s;
}

.customer-manage-table .ant-table-tbody .ant-table-row:hover {
  background-color: #f8faff;
  border-color: #ffffff;
}
/* ======================================== End table row css ===== */

/* ======================================== Start table cbox css ===== */
.customer-manage-table .ant-table-tbody .ant-checkbox .ant-checkbox-inner {
  width: 20px !important;
  height: 20px !important;
  border-color: #1765fd !important;
  background-color: #1765fd1a !important;
}

/* ======================================== End table cbox css ===== */

/* =============================================================================================== End table css ===== */
